<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PCAN_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PCAN_Client.Properties.Settings>
            <setting name="XmlOrTempPath" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="S19Path" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="SoftwareVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="HardwareVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="selectDevice" serializeAs="String">
                <value>PCAN</value>
            </setting>
            <setting name="customInstruction" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="FlashDriverSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UDS_TX_ID" serializeAs="String">
                <value>1968</value>
            </setting>
            <setting name="UDS_RX_ID" serializeAs="String">
                <value>1976</value>
            </setting>
            <setting name="ProjectSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delayus" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JsonSelect" serializeAs="String">
                <value>自动加载</value>
            </setting>
            <setting name="PCAN_Channel" serializeAs="String">
                <value>USB_1</value>
            </setting>
            <setting name="CANoe_Channel" serializeAs="String">
                <value>Channel 3</value>
            </setting>
            <setting name="SetDLCSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Service2FProjectSelect" serializeAs="String">
                <value>27款</value>
            </setting>
            <setting name="TestRx0_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx1_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx2_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx3_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx4_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx5_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx6_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TestRx7_Save" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="DBCFilePath" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SaveFileType" serializeAs="String">
                <value>ASC</value>
            </setting>
            <setting name="ChartShowSave" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="ChartShowDataTimeDelayTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ChartShowDataNum" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="comboBoxExcelSaveTimeSelectIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="checkBoxSaveExcelChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxSaveAscChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetSwVer" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="SetHwVer" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="SetPartVer" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="LP_24YearSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoticeShownVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoredUpdateVersion" serializeAs="String">
                <value />
            </setting>
        </PCAN_Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus.Interfaces" publicKeyToken="a694d7f3b0907a61" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>